{%- comment -%}
  renders product list card on section templates
  usage
    {%- render 'product-list-card', figure: block, index: forloop.index -%}
{%- endcomment -%}
{% liquid
  unless product.media.size == 0
    assign featured_media = product.selected_or_first_available_variant.featured_media
    unless featured_media != blank
      for media in product.media
        assign featured_media = media
        break
      endfor
    endunless
  endunless

  capture featured_media_ratio
    if media_size == 'adapt'
      echo featured_media.preview_image.aspect_ratio | default: '1'
    else 
      echo '1'
    endif
  endcapture

  capture show_separator
    if enable_atc and show_quick_view
      echo 'true'
    endif
  endcapture

  capture btns_at_down
    if btns_position == 'bottom'
      if enable_atc or show_quick_view
        echo '--pd-bot'
      endif
    endif
  endcapture
%}
{%- capture column_button -%}
  <div class="product-column_btn-wrap {% unless btns_at_down != blank %}product-column_btn-wrap--pb{% endunless %} --justify-center">
    <div class="product-column_btn-icns">
      {%- if show_quick_view -%}
        <modal-component-toggler>
          <button
            type="button"
            disabled
            class="button button--icn product-column_btn-ixi product-column_qv-toggler --block">
            <i class="button_icn-wrapper">
              {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'eye', section_id: section_id -%}
              <span class="visually-hidden --uppercase">
                {{ 'product.quick_view' | t }}
              </span>
            </i>
          </button>
        </modal-component-toggler>
      {%- endif -%}
      {%- if show_separator == 'true' -%}
        <i class="product-column_btn-separator">
          {%- render 'icons-data', width: 2, height: 18, use_icon: true, icon_reference: 'line', section_id: section_id -%}
        </i>
      {%- endif -%}
      {%- if enable_atc -%}
        <modal-component-toggler>
          <button
            type="button"
            disabled
            class="button button--icn  product-column_btn-ixi product-column_qv-toggler --block">
            <i class="button_icn-wrapper">
              {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'cart', section_id: section_id -%}
            <span class="visually-hidden --uppercase">
              {{ 'product.atc_buttons.add_to_cart' | t }}
            </span>
            </i>
          </button>
        </modal-component-toggler>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}
<focused-element class="product-column {{ btns_at_down }}">
    <div class="product-column_top-wrap">
      <div class="product-column_media-wrap">
        <a aria-disabled="true" class="product-column_image --media-size-{{ media_size }}" style="--media-ratio: {{ featured_media_ratio }};">
          {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
          <span class="visually-hidden">
            {{- 'product.title' | t -}}
          </span>
        </a>
      </div>
      {%- if show_stock_tag -%}
        <ul class="list-unstyled tags-list product-column_tags-list --v-align-middle">
          <li class="tags-list_item parent-node">
            <strong class="tags-list_tag --fw-medium">
              {%- render 'product-stock-tag', product: product -%}
            </strong>
          </li>
          <li class="tags-list_item parent-node">
            <strong class="tags-list_tag --fw-medium">
              {%- render 'product-discount-tag', product: product -%}
            </strong>
          </li>
        </ul>
      {%- endif -%}
      {%- if btns_position == 'top' -%}
        {{- column_button -}}
      {%- endif -%}
    </div>
    <div class="product-column_details-wrap widget--styles --bdr-top">
      <{{- heading_tag }} class="mty {{ heading_size }} {{ heading_weight }} product-column_heading">
        <a aria-disabled="true" class="--hover-underline">
          {{- 'product.title' | t -}}
        </a>
      </{{- heading_tag -}}>
      {%- if show_vendor -%}
        <strong class="h text-size--small --fw-semi-bold --word-break product-column_vendor">
          {{ 'product.vendor' | t }}
        </strong>
      {%- endif -%}
      {%- if show_price -%}
        <strong class="--fw-normal text-size--small product-column_price">
          {%- render 'product-price', product: product, use_variant: false, show_unit_price: true -%}
        </strong>
      {%- endif -%}
      {%- if btns_position == 'bottom' -%}
        <div class="product-column_btns-down">
          {{- column_button -}}
        </div>
      {%- endif -%}
    </div>
</focused-element>