{%- comment -%}
  renders product column on section templates
  usage
    {%- render 'product-column', product: product -%}
{%- endcomment -%}
{%- liquid
  assign variant_limit = 4
  assign product_json_id = 'ProductCardJson-' | append: product.id | append: '-' | append: section.id
  assign selected_variant = product.selected_or_first_available_variant
  assign current_values = selected_variant.options
  assign error_render_attr = 'data-render-main-error' | append: product.id | append: '-' | append: section.id
  assign form_id= 'data-product-card-atc-form' | append: product.id | append: '-' | append: section.id
  assign media_static_attr = 'data-change-media' | append: product.id | append: '-' | append: section.id
  assign price_render_attr = 'data-product-card-render-price'
  assign discount_render_attr = 'data-product-card-render-discount'
  assign stock_render_attr = 'data-product-card-render-stock'
  assign media_template_attr = 'data-media-template-' | append: product.id | append: '-' | append: section.id

  unless product.media.size == 0
    assign featured_media = product.selected_or_first_available_variant.featured_media
    unless featured_media != blank
      for media in product.media
        assign featured_media = media
        break
      endfor
    endunless
  endunless

  capture featured_media_ratio
    if media_size == 'adapt'
      echo featured_media.preview_image.aspect_ratio | default: '1'
      else 
        echo '1'
    endif
  endcapture

  capture product_clean_url
    if product.url contains '?'
      assign parts = product.url | split: '?'
      echo parts[0]
      else
        echo product.url
    endif
  endcapture

  capture show_separator
    if enable_atc and show_quick_view
      echo 'true'
    endif
  endcapture

  capture btns_at_down
    if btns_position == 'bottom'
      if enable_atc or show_quick_view
        echo '--pd-bot'
      endif
    endif
  endcapture

  assign sizes_attr = '(max-width: 379px) calc(100vw - 30px), (max-width: 767px) calc((100vw / var(--mobile-columns-count)) - 30px), (max-width: 991px) calc((var(--cp-width-px) / 3) - 30px), calc((var(--cp-width-px) / var(--columns-count)) - 30px)'
-%}
{%- capture column_button -%}
  <div class="product-column_btn-wrap {% unless btns_at_down != blank %}product-column_btn-wrap--pb{% endunless %} --justify-center">
    <div class="product-column_btn-icns">
      {%- if show_quick_view -%}
        <modal-component-toggler>
          <button
            type="button"
            data-expanded="false"
            data-modal-ref="modal-quickview-column-{{ section.id }}-{{ product.id }}"
            aria-haspopup="dialog"
            aria-controls="modal-quickview-column-{{ section.id }}-{{ product.id }}"
            class="button button--icn product-column_btn-ixi product-column_qv-toggler --block"
          >
            <i class="button_icn-wrapper">
              {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'eye', section_id: section_id -%}
              <span class="visually-hidden --uppercase">
                {{ 'product.quick_view' | t }}
              </span>
            </i>
          </button>
        </modal-component-toggler>
        <modal-render-component
          data-modal="modal-quickview-column-{{ section.id }}-{{ product.id }}"
          data-container="body"
          data-url="{{ request.origin }}{{ routes.root_url | replace: '/', '' }}{{ product_clean_url }}?"
          data-section="modal-quick-view"
          data-render-selector="modal-quick-view"
          data-selector="#modal-quickview-column-{{ section.id }}-{{ product.id }}"
        >
          <div
            class="modal modal-component modal-component--size-chart modal-component--centered scheme--{{ section.settings.section_color_scheme }}"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-quickview-column-{{ section.id }}-{{ product.id }}-heading"
            aria-describedby="modal-quickview-column-{{ section.id }}-{{ product.id }}"
            tabindex="-1"
          >
            <div class="modal-component_spacer">
              <div class="modal-component_wrapper">
                <div class="modal-component_body">
                  <div class="modal-component_head --align-left product-common_size-heading">
                    <modal-component-toggler>
                      <button
                        type="button"
                        data-expanded="true"
                        data-toggle-attribute="false"
                        data-modal-ref="modal-quickview-column-{{ section.id }}-{{ product.id }}"
                        class="modal-component_btn-close button button--icn">
                        <span class="button_icn-wrapper">
                          {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'cross' -%}
                          <span class="visually-hidden">{{- 'accessibility.close' | t -}}</span>
                        </span>
                      </button>
                    </modal-component-toggler>
                    <strong id="modal-quickview-column-{{ section.id }}-{{ product.id }}-heading" class="modal-component_heading h4 mty">
                      {{- 'product.quick_view' | t -}}
                    </strong>
                  </div>
                  <div class="modal-component_content" id="modal-quickview-column-{{ section.id }}-{{ product.id }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </modal-render-component>
      {%- endif -%}
      {%- if show_separator == 'true' -%}
        <i class="product-column_btn-separator">
          {%- render 'icons-data', width: 2, height: 18, use_icon: true, icon_reference: 'line', section_id: section_id -%}
        </i>
      {%- endif -%}
      {%- if enable_atc -%}
        {%- form 'product',
          product,
          id: form_id,
          class: 'main-product_submit-from',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif

            capture atc_button_label
              if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                echo 'product.atc_buttons.soldout' | t
                else
                  echo 'product.atc_buttons.add_to_cart' | t
              endif
            endcapture
          -%}
          <input
            type="hidden"
            name="id"
            value="{{- product.selected_or_first_available_variant.id -}}"
          >
          <input
            type="hidden"
            name="quantity"
            value="{{- product.selected_or_first_available_variant.quantity_rule.min -}}"
          >
          <div class="product-common_btns-wrap">
            <div class="product-common_form-btns --v-align-start">
              <atc-submit
                class="product-common_atc-form"
                data-error-selector="[{{ error_render_attr }}]"
                data-form="#{{ form_id }}"
                {% unless template.name == 'cart' %}
                  {% unless settings.cart_view == 'drawer' %}
                    data-redirect="{{- routes.cart_url -}}"
                  {% endunless %}
                {% endunless %}
                {% unless template.name == 'cart' %}
                  data-modal="true"
                  data-modal-ref='[data-modal-ref="modal-cart-drawer"][data-expanded="false"]'
                {% endunless %}
                data-sections='[
                  {
                    "id": "cart-head",
                    "selectors": ["[data-render-cart-bubble]", "[data-render-cart-text]"]
                  },
                  {
                    "id": "cart-showcase",
                    "selectors": ["[data-line-items-drawer-container]"]
                  }
                  {% if template.name == 'cart' %}
                    ,
                    {
                      "id": "main-cart",
                      "selectors": ["[data-line-items-container]"]
                    }
                  {% endif %}
                ]'
              >
                <button
                  type="submit"
                  name="add"
                  class="button button--icn  product-column_btn-ixi product-column_qv-toggler --block"
                  {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                    disabled
                  {% endif %}
                >
                  <i class="button_icn-wrapper">
                    {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'cart', section_id: section_id -%}
                    <span class="visually-hidden" data-atc-text="" data-text-avail="{{- 'product.atc_buttons.add_to_cart' | t -}}" data-text-sold="{{- 'product.atc_buttons.soldout' | t -}}" data-text-unavail="{{- 'product.atc_buttons.unavailable' | t -}}">
                      {{- atc_button_label -}}
                    </span>
                  </i>
                </button>
              </atc-submit>
            </div>
          </div>
        {%- endform -%}
      {%- endif -%}
      {%- if show_swatches and enable_atc == false -%}
        {%- form 'product',
          product,
          id: form_id,
          class: 'visually-hidden',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif

            capture atc_button_label
              if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                echo 'product.atc_buttons.soldout' | t
                else
                  echo 'product.atc_buttons.add_to_cart' | t
              endif
            endcapture
          -%}
          <input
            type="hidden"
            name="id"
            value="{{- product.selected_or_first_available_variant.id -}}"
          >
          <input
            type="hidden"
            name="quantity"
            value="{{- product.selected_or_first_available_variant.quantity_rule.min -}}"
          >
          <div class="product-common_btns-wrap">
            <div class="product-common_form-btns --v-align-start">
              <atc-submit
                class="product-common_atc-form"
                data-error-selector="[{{ error_render_attr }}]"
                data-form="#{{ form_id }}"
                {% unless template.name == 'cart' %}
                  data-modal="true"
                  data-modal-ref='[data-modal-ref="modal-cart-drawer"][data-expanded="false"]'
                {% endunless %}
                data-sections='[
                  {
                    "id": "cart-head",
                    "selectors": ["[data-render-cart-bubble]", "[data-render-cart-text]"]
                  },
                  {
                    "id": "cart-showcase",
                    "selectors": ["[data-line-items-drawer-container]"]
                  }
                  {% if template.name == 'cart' %}
                    ,
                    {
                      "id": "main-cart",
                      "selectors": ["[data-line-items-container]"]
                    }
                  {% endif %}
                ]'
              >
                <button
                  type="submit"
                  name="add"
                  class="button button--icn  product-column_btn-ixi product-column_qv-toggler --block"
                  {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                    disabled
                  {% endif %}
                >
                  <i class="button_icn-wrapper">
                    {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'cart', section_id: section_id -%}
                    <span class="visually-hidden" data-atc-text="" data-text-avail="{{- 'product.atc_buttons.add_to_cart' | t -}}" data-text-sold="{{- 'product.atc_buttons.soldout' | t -}}" data-text-unavail="{{- 'product.atc_buttons.unavailable' | t -}}">
                      {{- atc_button_label -}}
                    </span>
                  </i>
                </button>
              </atc-submit>
            </div>
          </div>
        {%- endform -%}
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}
<focused-element class="product-column {{ btns_at_down }}" id="{{- section.id -}}-{{ product.id }}-description">
  <div class="product-column_top-wrap">
    <div class="product-column_media-wrap" {{ media_static_attr }}>
      <a href="{{- product_clean_url -}}" class="product-column_image --media-size-{{ media_size }}" style="--media-ratio: {{ featured_media_ratio }};" data-media-id="{{- featured_media.id -}}">
        {%- unless featured_media == blank -%}
          <img
            srcset="{%- if featured_media.preview_image.width >= 190 -%}{{ featured_media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                    {%- if featured_media.preview_image.width >= 240 -%}{{ featured_media.preview_image | image_url: width: 240 }} 240w,{%- endif -%}
                    {%- if featured_media.preview_image.width >= 299 -%}{{ featured_media.preview_image | image_url: width: 299 }} 299w,{%- endif -%}
                    {%- if featured_media.preview_image.width >= 368 -%}{{ featured_media.preview_image | image_url: width: 368 }} 368w,{%- endif -%}
                    {%- if featured_media.preview_image.width >= 400 -%}{{ featured_media.preview_image | image_url: width: 400 }} 400w,{%- endif -%}
                     {{ featured_media.preview_image | image_url: width: featured_media.preview_image.width }} {{ featured_media.preview_image.width }}w"
            sizes="{{- sizes_attr -}}"
            src="{{- featured_media.preview_image | image_url: width: 190 -}}"
            alt="{{- product.title | escape -}}"
            {% unless fetchpriority == blank %}
              fetchpriority="{{- fetchpriority -}}"
              {% else %}
                loading="{{- loading_attr -}}"
            {% endunless %}
            width= "190"
            height="{{- 190 | divided_by: featured_media.preview_image.aspect_ratio | round -}}"
            class="object-fit object-fit--absolute"
          >
          {%- else -%}
            {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
        {%- endunless -%}
        <span class="visually-hidden">{{- product.title -}}</span>
      </a>
    </div>
    {% if show_stock_tag or show_sale_tag %}
      <ul class="list-unstyled tags-list product-column_tags-list --v-align-middle">
        {%- if show_stock_tag -%}
          <li class="tags-list_item parent-node">
            <strong class="tags-list_tag --fw-medium" {{ stock_render_attr }}>
              {%- render 'product-stock-tag', product: product -%}
            </strong>
          </li>
        {%- endif -%}
        {%- if show_sale_tag -%}
          <li class="tags-list_item parent-node">
            <strong class="tags-list_tag --fw-medium" {{ discount_render_attr }}>
              {%- render 'product-discount-tag', product: product -%}
            </strong>
          </li>
        {%- endif -%}
      </ul>
    {%- endif -%}
    {%- if btns_position == 'top' -%}
      {{- column_button -}}
    {%- endif -%}
  </div>
  <div class="product-column_details-wrap widget--styles --bdr-top" id="{{- section.id -}}-{{ product.id }}-variants-container">
    <div class="product-column_error hidden" {{ error_render_attr }}>
      {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
      <span data-error=""></span>
    </div>
    <{{- heading_tag }} class="mty {{ heading_size }} {{ heading_weight }} product-column_heading">
      <a href="{{- product_clean_url -}}" class="--hover-underline">
        {{- product.title -}}
      </a>
    </{{- heading_tag -}}>
    {%- if show_vendor -%}
      <strong class="h text-size--small --fw-semi-bold --word-break product-column_vendor">
        {{- product.vendor -}}
      </strong>
    {%- endif -%}
    {%- if show_price -%}
      <strong class="--fw-normal text-size--small product-column_price">
        {%- render 'product-price', product: product, use_variant: false, show_unit_price: true -%}
      </strong>
    {%- endif -%}
    {%- if show_swatches -%}
      {%- unless product.has_only_default_variant -%}
        {%- for option in product.options_with_values -%}
          {%- liquid
            capture has_color_variant
              for value in option.values
                if settings.variant_swatches == 'swatches'
                  if value.swatch.image
                    echo 'true'
                    break
                    elsif value.swatch.color
                      echo 'true'
                      break
                  endif
                  else
                    if option.name == 'color' or option.name == 'Color' or option.name == 'colour' or option.name == 'Colour'
                      echo 'true'
                      break
                    endif
                endif
              endfor
            endcapture
          -%}
          {%- if has_color_variant == 'true' -%}
            <div class="product-column_swatch-wrap --v-align-middle">
              <variant-pill
                class="product-variant_options-wrap product-common_product-variant_options-wrap --v-align-middle"
                data-json-selector="#{{- product_json_id -}}"
                data-forms='["#{{ form_id }}"]'
                data-error-selector="[{{ error_render_attr }}]"
                data-renders='["[{{ price_render_attr }}]", "[{{ discount_render_attr }}]", "[{{ stock_render_attr }}]"]'
                data-section-id="product-organizer"
                data-product-url="{{- product_clean_url -}}"
                data-update-url="false"
                data-current-set='{{- current_values | json -}}'
                data-option-index="{{- forloop.index | minus: 1 -}}"
                data-parent="#{{- section.id -}}-{{ product.id }}-variants-container"
                data-main-parent="#{{- section.id -}}-{{ product.id }}-description"
                data-galleries='["[{{ media_static_attr }}]"]'
                data-media-template="true"
                data-template="[{{ media_template_attr }}]"
                data-check-sets="true"
                {% liquid
                  assign available_sets = ''
                  for value in option.values
                    for variant in product.variants
                      if variant.available and variant.options contains value
                        assign formatted_options = variant.options | join: '","'
                        assign set = '["' | append: formatted_options | append: '"]'
                        if available_sets == ''
                          assign available_sets = set
                          else
                            assign available_sets = available_sets | append: ',' | append: set
                        endif
                        break
                      endif
                    endfor
                  endfor
                %}
                data-available-sets='[{{- available_sets -}}]'
              >
                {%- render 'product-variant-options', product: product, option: option, product_form_id: form_id, swatches: settings.variant_swatches, is_color_option: has_color_variant, limit: variant_limit, check_available: true, available_sets: available_sets -%}
                {%- if has_color_variant == 'true' -%}
                  {%- assign total_variants = option.values.size -%}
                  {%- if total_variants > variant_limit -%}
                    {%- assign rest_count = total_variants | minus: variant_limit -%}
                    <strong class="product-variant-options_limiter --fw-medium widget--styles">
                      +{{- rest_count -}}
                    </strong>
                  {%- endif -%}
                {%- endif -%}
              </variant-pill>
              {%- if show_price -%}
                <strong class="--fw-normal text-size--small product-column_price" {{ price_render_attr }}>
                  {%- render 'product-price', product: product, use_variant: true, show_unit_price: true -%}
                </strong>
              {%- endif -%}
            </div>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endunless -%}
    {%- endif -%}
    {%- if btns_position == 'bottom' -%}
      <div class="product-column_btns-down">
        {{- column_button -}}
      </div>
    {%- endif -%}
  </div>
  <template {{ media_template_attr }}>
    {%- unless featured_media != blank -%}
      <a href="{{- product_clean_url -}}" class="product-column_image --media-size-{{ media_size }}" style="--media-ratio: {{ featured_media_ratio }};">
        <img
          srcset="{%- if featured_media.preview_image.width >= 190 -%}{{ featured_media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                  {%- if featured_media.preview_image.width >= 240 -%}{{ featured_media.preview_image | image_url: width: 240 }} 240w,{%- endif -%}
                  {%- if featured_media.preview_image.width >= 299 -%}{{ featured_media.preview_image | image_url: width: 299 }} 299w,{%- endif -%}
                  {%- if featured_media.preview_image.width >= 368 -%}{{ featured_media.preview_image | image_url: width: 368 }} 368w,{%- endif -%}
                  {%- if featured_media.preview_image.width >= 400 -%}{{ featured_media.preview_image | image_url: width: 400 }} 400w{%- endif -%}"
          sizes="{{- sizes_attr -}}"
          src="{{- featured_media.preview_image | image_url: width: 190 -}}"
          alt="{{- product.title | escape -}}"
          {% unless fetchpriority == blank %}
            fetchpriority="{{- fetchpriority -}}"
            {% else %}
              loading="{{- loading_attr -}}"
          {% endunless %}
          width="190"
          height="{{- 190 | divided_by: featured_media.preview_image.aspect_ratio | round -}}"
          class="object-fit object-fit--absolute"
        >
        <span class="visually-hidden">{{- product.title -}}</span>
      </a>
    {%- endunless -%}
    {%- for variant in product.variants -%}
      {%- liquid
        capture media_ratio
          if media_size == 'adapt'
            echo variant.featured_image.aspect_ratio | default: '1'
            else 
              echo '1'
          endif
        endcapture
      -%}
      <a href="{{- variant.url -}}" class="product-column_image --media-size-{{ media_size }}" style="--media-ratio: {{ media_ratio }};" data-media-id="{{ variant.featured_media.id }}">
        {%- unless variant.featured_image == blank -%}
          <img
            srcset="{%- if variant.featured_image.width >= 190 -%}{{ variant.featured_image | image_url: width: 190 }} 190w,{%- endif -%}
                    {%- if variant.featured_image.width >= 240 -%}{{ variant.featured_image | image_url: width: 240 }} 240w,{%- endif -%}
                    {%- if variant.featured_image.width >= 299 -%}{{ variant.featured_image | image_url: width: 299 }} 299w,{%- endif -%}
                    {%- if variant.featured_image.width >= 368 -%}{{ variant.featured_image | image_url: width: 368 }} 368w,{%- endif -%}
                    {%- if variant.featured_image.width >= 400 -%}{{ variant.featured_image | image_url: width: 400 }} 400w{%- endif -%}"
            sizes="{{- sizes_attr -}}"
            src="{{- variant.featured_image | image_url: width: 190 -}}"
            alt="{{- product.title | escape -}}"
            {% unless fetchpriority == blank %}
              fetchpriority="{{- fetchpriority -}}"
              {% else %}
                loading="{{- loading_attr -}}"
            {% endunless %}
            width="{{- 190 -}}"
            height="{{- 190 | divided_by: variant.featured_image.aspect_ratio | round -}}"
            class="object-fit object-fit--absolute"
          >
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
            <span class="visually-hidden">
              {{- image_alt -}}
            </span>
        {%- endunless -%}
        <span class="visually-hidden">{{- product.title -}}</span>
      </a>
    {%- endfor -%}
  </template>
  <script id="{{- product_json_id -}}" type="application/json">
    {
      "handle": "{{ product.handle | escape }}",
      "available": {{ product.available | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id": {{ variant.id | json }},
            "featured_image": {% unless variant.featured_media.id == blank %}{{ variant.featured_media.id }}{% else %}null{% endunless %},
            "available": {{ variant.available | json }},
            "options": {{ variant.options | json }},
            "option1": {{ variant.option1 | json }},
            "option2": {{ variant.option2 | json }},
            "option3": {{ variant.option3 | json }},
            "quantity_rule": {{ variant.quantity_rule | json }}
          }
          {% if forloop.last == false %},{% endif -%}
        {%- endfor -%}
      ]
    }
  </script>
</focused-element>