{%- liquid
  assign section_prefix_class = 'carousel'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
  
  capture section_height_class
    case section.settings.section_carousel_height
      when 'small'
        echo '--small-image'
      when 'medium'
        echo '--medium-image'
      when 'window_height'
        echo '--vh-image'
    endcase
  endcapture

  capture section_mobile_height_class
    case section.settings.section_mobile_carousel_height
      when 'small'
        echo '--small-mob-image'
      when 'medium'
        echo '--medium-mob-image'
      when 'window_height'
        echo '--vh-mob-image'
    endcase
  endcapture
-%}
{%- style -%}
  .carousel-card{
  --q-align-value: var(--mobile-q-align);
  --q-justify-value: var(--mobile-justify-align);
  position: relative;
  z-index: 1;
}

.carousel-card,
.carousel-card .container,
.carousel-height,
.carousel-card .align-holder,
.carousel-card_bg-wrapper,
.carousel-card_bg-wrapper::before{
  height: 100%;
}

.carousel-card_bar,
.carousel-card_wrapper{
  position: relative;
}

.carousel-card_wrapper{
  margin-top: var(--make-transparent-offset, 0);
  padding: 45px 30px;
}

.carousel-card--no-box{
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.carousel-card_description{
  --mt-top: 24px;
}

.carousel-card_btn,
.carousel-card .align-holder_wrapper,
.carousel-card_pagination-bar,
.carousel-card_slide-controls{
  display: flex;
}

.carousel-card_btn{
  flex-wrap: wrap;
  gap: 12px;
  --mt-top: 43px;
}

.carousel-card_btn .button{
  --button-font-weight: 400;
}

.carousel-card_bg-wrapper,
.carousel-card_pagination-bar,
.carousel-card_slide-controls,
.carousel-card_bg-wrapper::before{
  position: absolute;
}

.carousel-card_bg-wrapper,
.carousel-card_pagination-bar,
.carousel-card_bar,
.carousel-card_bg-wrapper::before,
.carousel-card_wrapper,
.carousel-card .align-holder_wrapper{
  width: 100%;
}

.carousel-card_bg-wrapper{
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.carousel-card .align-holder_wrapper,
.carousel-card_slide-controls{
  align-items: center;
}

.carousel-card .align-holder_wrapper{
  max-width: var(--max-content, 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.carousel-card_logo{
  margin: 0 auto 22px;
  max-width: 180px;
}

.--small-mob-image{
  min-height: 350px;
}

.--medium-mob-image{
  min-height: 600px;
}

.--vh-mob-image{
  min-height: calc(100vh - 40px);
}

.carousel-card_pagination-bar {
  justify-content: center;
  gap: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  --focus-outline-offset: 1px;
}

.carousel-card_bar:focus-visible{
  margin: 4px;
}

.carousel-card_bar.active,
.carousel-card_bar:hover{
  background-image: linear-gradient(90deg, var(--section-foreground-color) 0%, var(--section-foreground-color) 100%);
}

.carousel-card_bar {
  border: 0;
  padding: 12px;
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--section-background-color) 0%, var(--section-background-color) 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 2px;
}

.carousel-card_bar:focus-visible{
  background-image: linear-gradient(90deg, var(--section-warning-color) 0%, var(--section-warning-color) 100%);
}

.carousel-card_slide-controls{
  bottom: -40px;
  right: 0;
  gap: 14px;
}

.carousel-card_left.button.button--icn,
.carousel-card_right.button.button--icn{
  border-radius: 100px;
  --button-padding-y: 1rem;
  --button-padding-x: 1rem;
  --button-background: var(--section-primary-bg);
  --button-text: var(--section-primary-text-color);
  --button-border-color: var(--section-primary-bg);
}

.product-card_price,
.carousel-card_product{
  display: block;
}

.carousel-card_product{
  text-decoration: none;
  padding: 15px 12px;
  display: none;
  --focus-outline-offset: -4px;
}

.product-card_title.h6{
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.product-card_title{
  margin-top: 22px;
}

.product-card_price{
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 17px;
  margin-bottom: 17px;
}

.carousel-card_bg-wrapper::before{
  content: "";
  background: var(--overlay-bg);
  z-index: 1;
  top: 0;
  left: 0;
}

.carousel-card_left,
.carousel-card_right{
  --focus-outline-offset: -3px;
}

.carousel_wrapper{
  position: relative;
}

.carousel_wrapper .product-common_price-col{
  flex-grow: 1;
  flex-basis: 0;
}

@media (min-width: 576px){
  .--small-mob-image{
    min-height: 400px;
  }
  
  .carousel-card_wrapper{
    padding: 45px 57px;
  }

  .--medium-mob-image{
    min-height: 500px;
  }

  .--vh-mob-image{
    min-height: calc(100vh - 68px);
  }
}

@media (min-width: 768px){
  
  .carousel-card_slide-controls{
    right: 30px;
  }

  .carousel-card{
    --q-align-value: var(--desktop-q-align);
    --q-justify-value: var(--desktop-justify-align);
  }

  .--small-image{
    min-height: 420px;
  }

  .--medium-image{
    min-height: 600px;
  }

  .--vh-image {
    min-height: calc(100vh - 68px);
  }

  .carousel-card_logo{
    max-width: 300px;
  }

  .carousel-card_wrapper.--width{
    width: calc(100% - 280px);
  }

  .carousel-card_product{
    width: 280px;
    display: block;
  }
  
  .product-card_img{
    height: 230px;
  }  
}

@media (min-width: 992px){

  .--small-image{
    min-height: 470px;
  }

  .--medium-image{
    min-height: 650px;
  }

  .--vh-image {
    min-height: calc(100vh - 128px);
  }
}

@media (min-width:1200px){
  .--small-image{
    min-height: 500px;
  }

  .--medium-image{
    min-height: 750px;
  }

  .--vh-image {
    min-height: calc(100vh - 128px);
  }

  .carousel-card_wrapper.--width{
    width: calc(100% - 372px);
  }

  .carousel-card_product{
    width: 372px;
  }
  
  .product-card_img{
    height: 370px;
  }  

  .carousel-card_left.button.button--icn,
  .carousel-card_right.button.button--icn{
    --button-padding-y: 1.5rem;
    --button-padding-x: 1.5rem;
  }

  .carousel-card_slide-controls{
    bottom: -58px;
  }
}
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;">
  <div class="{{ section_prefix_class }}_wrapper">
    <splide-slider
      data-slider-type="default"
      {% if section.blocks.size > 1 %}
        {% if section.settings.show_navigation %}
          data-custom-arrows="true"
        {% endif %}
        {% if section.settings.show_pagination %}
          data-custom-pager="true"
        {% endif %}
      {% endif %}
      {% if request.design_mode %}
        data-go-to="true"
      {% endif %}
    >
      <div 
        class="splide {{ section_prefix_class }}_slider"
        data-splide='{
          "drag": true,
          "autoplay": {{- section.settings.auto_play -}},
          "interval": {{- section.settings.change_slides_every | times: 1000 -}},
          "rewind": true,
          "gap": "30px",
          "perMove": 1,
          "perPage": 1,
          "arrows": false,
          "pagination": false,
          {% if section.settings.type == 'fade' %}
            "type": "fade"
          {% else %}
            "type": "slide"
          {% endif %}
        }'>
        <div class="splide__track">
          <div class="splide__list splide-slider--h-scroll" style="--init-divider: 1; --init-mob-divider: 1;">
            {%- for block in section.blocks -%}
              <div class="splide__slide {% unless block.settings.enable_container %}scheme scheme--{% endunless %} {{ block.settings.block_color_scheme }} {{ section_height_class }} {{ section_mobile_height_class }}" {{ block.shopify_attributes }}>
                {%- render 'carousel-card', card: block, index: forloop.index, height: section_height_class, prefix_class: section_prefix_class, section_mobile_height_class: section_mobile_height_class -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </splide-slider>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.carousel_section.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "section_carousel_height",
      "label": "t:sections.carousel_section.settings.height.desktop_height.label",
      "options": [
        {
          "value": "small",
          "label": "t:height.options.opt_1.label"
        },
        {
          "value": "medium",
          "label": "t:height.options.opt_2.label"
        },
        {
          "value": "window_height",
          "label": "t:height.options.opt_4.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "section_mobile_carousel_height",
      "label": "t:sections.carousel_section.settings.height.mobile_height.label",
      "options": [
        {
          "value": "small",
          "label": "t:height.options.opt_1.label"
        },
        {
          "value": "medium",
          "label": "t:height.options.opt_2.label"
        },
        {
          "value": "window_height",
          "label": "t:height.options.opt_4.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:sections.carousel_section.settings.slide_type.name",
      "options": [
        {
          "value": "fade",
          "label": "t:sections.carousel_section.settings.slide_type.opt_1.label"
        },
        {
          "value": "slide",
          "label": "t:sections.carousel_section.settings.slide_type.opt_2.label"
        }
      ],
      "default": "fade"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:slideshow.show_arrows.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:slideshow.show_nav.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 5,
      "unit": "s",
      "info": "t:slideshow.interval.info"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.carousel_section.blocks.slide.name",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.carousel_section.blocks.slide.settings.image.label",
          "info": "t:sections.carousel_section.blocks.slide.settings.image.info"
        },
        {
          "type": "color_background",
          "id": "background",
          "label": "t:sections.carousel_section.blocks.slide.settings.image.bg_overlay.label",
          "default": "linear-gradient(to bottom, rgba(121,121,121,0.1) 0%,rgba(19,19,19,0.5) 100%)"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:heading.label",
          "default": "Talk about your brand"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sizes.heading.label",
          "options": [
            {
              "value": "h1",
              "label": "t:sizes.heading.options.opt_1.label"
            },
            {
              "value": "h2",
              "label": "t:sizes.heading.options.opt_2.label"
            },
            {
              "value": "h3",
              "label": "t:sizes.heading.options.opt_3.label"
            },
            {
              "value": "h4",
              "label": "t:sizes.heading.options.opt_4.label"
            }
          ],
          "default": "h1"
        },
        {
          "type": "select",
          "id": "heading_weight",
          "label": "t:weight.heading.label",
          "options": [
            {
              "value": "--fw-bold",
              "label": "t:weight.heading.options.opt_1.label"
            },
            {
              "value": "--fw-semi-bold",
              "label": "t:weight.heading.options.opt_5.label"
            },
            {
              "value": "--fw-medium",
              "label": "t:weight.heading.options.opt_2.label"
            },
            {
              "value": "--fw-normal",
              "label": "t:weight.heading.options.opt_3.label"
            }
          ],
          "default": "--fw-bold"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "t:description_text.label",
          "default": "Share information about your brand with your customers."
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sizes.description_text.label",
          "options": [
            {
              "value": "text-size--small",
              "label": "t:sizes.text.options.opt_1.label"
            },
            {
              "value": "text-size--medium",
              "label": "t:sizes.text.options.opt_2.label"
            },
            {
              "value": "text-size--large",
              "label": "t:sizes.text.options.opt_3.label"
            },
            {
              "value": "text-size--xlarge",
              "label": "t:sizes.text.options.opt_4.label"
            }
          ],
          "default": "text-size--medium"
        },
        {
          "type": "select",
          "id": "description_weight",
          "label": "t:weight.description_text.label",
          "options": [
            {
              "value": "--fw-bold",
              "label": "t:weight.heading.options.opt_1.label"
            },
            {
              "value": "--fw-semi-bold",
              "label": "t:weight.heading.options.opt_5.label"
            },
            {
              "value": "--fw-medium",
              "label": "t:weight.heading.options.opt_2.label"
            },
            {
              "value": "--fw-normal",
              "label": "t:weight.heading.options.opt_3.label"
            },
            {
              "value": "--fw-light",
              "label": "t:weight.heading.options.opt_4.label"
            }
          ],
          "default": "--fw-normal"
        },
        {
          "type": "header",
          "content": "t:sections.carousel_section.blocks.slide.settings.container.content",
          "info": "t:sections.carousel_section.blocks.slide.settings.product_card.info",
        },
        {
          "type": "checkbox",
          "id": "enable_container",
          "label": "t:sections.carousel_section.blocks.slide.settings.enable_container.label",
          "default": true
        },
        {
          "type": "range",
          "id": "max_content_size",
          "label": "t:sections.head.size.label",
          "min": 50,
          "max": 100,
          "step": 5,
          "default": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "block_content_position",
          "label": "t:positions.label",
          "options": [
            {
              "value": "top_left",
              "label": "t:positions.options.top_left"
            },
            {
              "value": "top_right",
              "label": "t:positions.options.top_right"
            },
            {
              "value": "centered",
              "label": "t:positions.options.center"
            },
            {
              "value": "bottom_left",
              "label": "t:positions.options.bottom_left"
            },
            {
              "value": "bottom_right",
              "label": "t:positions.options.bottom_right"
            }
          ],
          "default": "centered"
        },
        {
          "type": "header",
          "content": "t:sections.carousel_section.blocks.slide.settings.first_button.content"
        },
        {
          "type": "text",
          "id": "first_button_heading",
          "label": "t:settings_schema.buttons.settings.button.label",
          "default": "BUTTON LABEL"
        },
        {
          "type": "url",
          "id": "first_url",
          "label": "t:settings_schema.buttons.settings.button.link.label"
        },
        {
          "type": "checkbox",
          "id": "first_open_new_window",
          "label": "t:target_blank.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.carousel_section.blocks.slide.settings.second_button.content"
        },
        {
          "type": "text",
          "id": "second_button_heading",
          "label": "t:settings_schema.buttons.settings.button.label",
          "default": "BUTTON LABEL"
        },
        {
          "type": "url",
          "id": "second_url",
          "label": "t:settings_schema.buttons.settings.button.link.label"
        },
        {
          "type": "checkbox",
          "id": "second_open_new_window",
          "label": "t:target_blank.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.carousel_section.blocks.slide.settings.product_card.content"
        },
        {
          "type": "product",
          "id": "product_card",
          "label": "t:sections.carousel_section.blocks.slide.settings.product_card.label"
        },
        {
          "type": "checkbox",
          "id": "enable_product_card",
          "label": "t:sections.carousel_section.blocks.slide.settings.product_card.enable.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:layout.content"
        },
        {
          "type": "text_alignment",
          "id": "block_text_alignment",
          "label": "t:alignments.content.desktop.label",
          "default": "left"
        },
        {
          "type": "text_alignment",
          "id": "block_mobile_text_alignment",
          "label": "t:alignments.text.mobile.label",
          "default": "center"
        },
        {
          "type": "color_scheme",
          "id": "block_color_scheme",
          "default": "scheme2",
          "label": "t:color_scheme.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.carousel_section.name",
      "blocks": [
        {
          "type": "slide",
          "settings": {
          }
        },
        {
          "type": "slide",
          "settings": {
          }
        },
        {
          "type": "slide",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}