{%- liquid
  assign section_prefix_class = 'collection_list'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture cols_order_class
    if section.settings.section_media_order == 'row_reverse'
      echo '--row-reverse'
      else
        echo '--row'
    endif
  endcapture

  capture loading_attr
    unless section.index != 1
      echo 'eager'
      else
        echo 'lazy'
    endunless
  endcapture

  capture container_class
    if section.settings.section_full_width
      echo 'container-fluid'
      else
        echo 'container'
    endif
  endcapture

  capture section_height_class
    case section.settings.section_carousel_height
      when 'small'
        echo '--small-content'
      when 'medium'
        echo '--medium-content'
      when 'window_height'
        echo '--vh-content'
    endcase
  endcapture

  assign image_sizes = '(max-width: 767px) calc((100vw / 2) - 43px), (max-width: 991px) calc(((100vw / 2) / 2) - 36px), (max-width: 1259px) calc(((100vw / 2) / 2) - 55px), calc(((var(--cp-width-px) / 2) / 2) - 55px)'
-%}
{%- style -%}
  .collection_list{
    --q-align-value: var(--mobile-q-align);
  }
  
  .collection_list .container-fluid{
    --cp-spacer-left: 0;
    --cp-spacer-right: 0;
  }

  .collection_list_wrapper{
    border-radius: 0;
    display: flex;
    justify-content: center;
  }
  
  .collection_list_wrapper--no-box,
  .collection_list .--image-full-radius{
    border-radius: var(--section-radius);
  }
  
  .collection_list .splide__slide{
    padding: 4px;
  }
  
  .collection_list .video-card .video-card_media {
    min-height: 150px;
  }
  
  .collection_list .video-card {
    height: 100%;
  }
  
  .collection_list_wrapper.scroll-view.--row-reverse{
    flex-direction: column-reverse;
  }

  .collection_list_wrapper .collection-card_heading:hover{
    color: var(--section-active-hover-color);
  }

  .collection_list_image-wrap{
    overflow: hidden;
    padding-top: 50%;
  }
  
  .collection_list_image-wrap img{
    border-radius: inherit;
  }
  
  .collection_list_caption-title,
  .collection_list_content-icn{
    display: block;
  }
  
  .collection_list_caption-title{
    margin-bottom: 6px;
    margin-top: 0;
  }
  
  .collection_list_heading{
    margin-bottom: 27px;
  }
  
  .collection_list_foot {
    margin-top: 40px;
  }
  
  .collection_list .splide-controls{
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-top: 20px;
    --ixi-padding-x: 6px;
    --ixi-padding-y: 6px;
  }
  
  .collection_list_col-description{
    padding: 30px 16px;
  }
  
  .collection_list_content-icn,
  .collection_list_content,
  .collection_list .grid__view,
  .collection_list_wrapper.slideshow-view .collection_list_col,
  .collection_list_grid{
    width: 100%;
  }
  
  .collection_list.--remove-sliders .splide-controls{
    display: none;
  }
  
  .collection_list .deferred-media__poster{
    --focus-outline-offset: 1px;
  }

  .collection_list .splide__slide a.collection-card{
    border: .4px solid var(--section-border-color);
    padding: 7px;
  }

  .collection_list .grid_col .collection-card{
    border: .4px solid var(--section-border-color);
    padding: 7px;
  }

  .collection_list_wrapper.scroll-view .collection_list_col-media{
    padding-bottom: 44px;
  }

  .collection_list_grid  .grid_col:nth-child(odd){
    transform: translateY(44px);
  }

  .collection_list_wrapper.grid-view,
  .collection_list_wrapper.slideshow-view{
    flex-wrap: wrap;
  }

  .collection_list_wrapper.grid-view .collection_list_col,
  .collection_list_wrapper.slideshow-view .collection_list_col{
    margin: auto;  
  }

  .collection_list_grid{
    --cp-spacer-left: 6px;
    --cp-spacer-right: 6px;
    --cp-spacer-top: 6px;
    --cp-spacer-bottom: 6px;
    row-gap: calc(var(--cp-spacer-left, 0px) + var(--cp-spacer-right, 0px));
  }

  .collection_list .grid-gutters{
    --cp-spacer-left: 7px;
    --cp-spacer-right: 7px;
  }
  
  .collection_list .footer-bottom__btn{
    margin-left: auto;
    margin-right: auto;
  }

  .collection_list_wrapper.scroll-view{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .collection_list_wrapper.scroll-view .collection_list_grid{
    --desktop-columns-count: 2;
    margin-left: 0;
    margin-right: 0;
  }

  .collection_list_wrapper.scroll-view .collection_list_col-media{
    width: 100%;
  }

  .collection_list .grid__view{
    --desktop-columns-count: 1;
  }

  a.collection-card{
    display: block;
    position: relative;
    --focus-outline-offset: 1px;
  }

  .main-collections_collection-card{
    border: 0.4px solid var(--section-border-color);
    padding: 7px;
  }

  .collection-card_caption-wrap.align-holder .collection-card_align,
  .collection-card_caption-wrap{
    width: 100%;
  }

  .collection-card_caption-wrap{
    padding: 12px 14px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 1px;
  }

  .collection-card_align{
    padding-top: 0;
    padding-bottom: 0;
  }

  .collection-card_heading{
    padding: 10px;
    background-color: var(--section-background-color);
  }

  .collection-card_caption{
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 8px 15px;
    display: inline-block;
    vertical-align: top;
    background-color: var(--tag-bg, var(--section-heading-color));
    color: var(--tag-fg, var(--section-background-color));
    max-width: 90%;
  }

  @media (min-width: 414px){
    .collection_list .grid__view {
      --desktop-columns-count: var(--columns-on-mobile);
    }
  }

  @media (min-width: 576px){
    .collection_list_col-description{
      padding: 25px 40px;
    }
    
    .collection-card_caption{
      font-size: 1.6rem;
    }
  }
  
  @media (min-width: 768px) {
    .collection_list .grid__view{
      --desktop-columns-count: 3;
    }

    .collection_list_wrapper.scroll-view .collection_list_grid{
      margin-left: calc(var(--cp-spacer-left, 15px)* -1);
      margin-right: calc(var(--cp-spacer-right, 15px)* -1);
    }

    .collection_list_wrapper.scroll-view.--row-reverse{
      flex-direction: row-reverse;
    }

    .grid-gutters{
      --cp-spacer-left: 12px;
      --cp-spacer-right: 12px;
    }

    .collection_list{
      --q-align-value: var(--desktop-q-align);
    }

    .collection_list_wrapper splide-slider,
    .collection_list_wrapper .grid__view,
    .collection_list_wrapper .collection__card{
      width: 100%;
    }

    .collection_list_wrapper.slideshow-view .collection_list_col,
    .collection_list_wrapper.grid-view .collection_list_col, 
    .collection_list_wrapper .collection_list_col.collection_list_col-slideshow{
      width: 100%;
    }

    .collection_list_wrapper .collection_list_col {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .collection_list_wrapper{
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
    }

    .collection_list_col-description{
      padding: 16px 16px;
      max-width: 420px;
      display: flex;
    }
  
    .collection_list_col-description.--content-center{
      max-width: 100%;
    }
  
    .collection_list splide-slider,
    .collection_list .splide,
    .collection_list .splide__track,
    .collection_list .splide__list,
    .collection_list .splide__slide,
    .collection_list_image-wrap {
      height: 100%;
    }
  
    .collection_list_image-wrap,
    .collection_list .video-card {
      padding-top: 0;
    }

    .collection_list_col-media:hover .splide-controls{
      opacity: 1;
      visibility: visible;
    }
  
    .--small-content{
      min-height: 420px;
    }
  
    .--medium-content{
      min-height: 550px;
    }
  
    .--vh-content{
      min-height: 700px;
    }

    .collection_list_wrapper.scroll-view{
      flex-wrap: nowrap;
      flex-direction: inherit;
    }

    .collection_list_wrapper.scroll-view .collection_list_col-media{
      width: 50%;
    }
  }
  
  @media (min-width: 992px){
    .grid__view {
      --desktop-columns-count: var(--columns-on-desktop);
    }
    
    .collection_list_grid{
      --desktop-columns-count: 2;
      --cp-spacer-left: 12px;
      --cp-spacer-right: 12px;
      --cp-spacer-top: 12px;
      --cp-spacer-bottom: 12px;
      row-gap: calc(var(--cp-spacer-left, 0px) + var(--cp-spacer-right, 0px));
      width: 100%;
    }

    .collection_list_col-description{
      max-width: calc(550px - 30px);
      padding: 16px 16px 16px 50px;
    }

    .collection_list_wrapper.grid-view .collection_list_col-description,
    .collection_list_wrapper.slideshow-view .collection_list_col-description{
        padding: 50px 16px;
    }
  
    .--small-content{
      min-height: 470px;
    }

    .collection_list_wrapper.grid-view .--medium-content,
    .collection_list_wrapper.slideshow-view .--medium-content{
        min-height: auto;
    }
    .--medium-content{
      min-height: 600px;
    }
  
    .--vh-content{
      min-height: 800px;
    }

    .collection-card_heading{
      padding: 14px;
    }

    .collection-card_caption{
      min-width: 165px;
    }
  }
  
  @media (min-width: 1200px){
    .collection_list_col-description{
      max-width: calc(650px - 30px);
    }
  
    .--small-content{
      min-height: 500px;
    }
  
    .--medium-content{
      min-height: 650px;
    }
  
    .--vh-content{
      min-height: 900px;
    }
  }
  @media (max-width: 991px){
    .collection_list_wrapper h5, .collection_list_wrapper .h5 {
      --heading-size-factor: 0.7;
    }
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }}" id="{{- section.id -}}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }}; --columns-on-mobile: {{ section.settings.number_of_columns_on_mobile }}; --columns-on-desktop: {{ section.settings.number_of_columns_on_desktop }};">
  <div class="{{ container_class }}">
    <div class="{{ section_prefix_class }}_wrapper {{ cols_order_class }} {% unless section.settings.desktop_enable_container %}{{ section_scheme_class }} {{ section_prefix_class }}_wrapper--no-box{% endunless %} {% case section.settings.view_type %} {% when 'scroll' %}scroll-view{% when 'grid' %}grid-view{% when 'slideshow' %}slideshow-view{% endcase %}">
      {%- if section.blocks.size > 0 -%}
        {%- if section.settings.view_type == 'scroll' -%}
          <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-media">
            <div class="grid {{ section_prefix_class }}_grid">
              {%- for block in section.blocks -%}
                <div class="grid_col inner-collection__card" {{ block.shopify_attributes }}>
                  {%- liquid
                    render 'collection-card', card: block.settings.collection, block: block, prefix_class: section_prefix_class, heading_size: section.settings.card_heading_size, heading_weight: section.settings.card_heading_weight, media_size: section.settings.card_media_size, size_attr: image_sizes, widths_attr: '117, 157, 164, 201, 257, 260, 370, 390', custom_image: block.settings.custom_image, show_title: collection.title, content_position: section.settings.card_content_position, show_title: section.settings.show_title, loading_attr: loading_attr
                  -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
      <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-description {{ section_height_class }} {% if section.blocks.size == 0 %}--content-center{% endif %}">
        <div class="{{ section_prefix_class }}_content --q-align">
          {%- if section.settings.image != blank -%}
            {%- liquid
              capture image_alt
                unless section.settings.image.alt == blank
                  echo section.settings.image.alt
                  else
                    echo section.settings.section_heading | escape
                endunless
              endcapture
            -%}
            <i class="{{ section_prefix_class }}_content-icn">
              {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: class: '', loading: loading_attr, widths: '225, 412, 550', sizes: '(max-width: 767px) 225px, 20vw', alt: image_alt -}}
            </i>
          {%- endif -%}
          {%- if section.settings.section_heading != blank or section.settings.section_caption != blank -%}
            <header class="heading-head">
              {%- if section.settings.section_caption != blank -%}
                <strong class="{{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} {{ section_prefix_class }}_caption-title">
                    {{- section.settings.section_caption -}}
                </strong>
              {%- endif -%}
              {%- if section.settings.section_heading != blank -%}
                <h2 class="{{ section_prefix_class }}_heading {{ section.settings.section_heading_weight }} {{ section.settings.section_heading_size }} --h-anchor-none mty">
                  {{- section.settings.section_heading -}}
                </h2>
              {%- endif -%}
            </header>
          {%- endif -%}
          {%- if section.settings.section_description != blank -%}
            <div class="{{ section_prefix_class }}_description --word-break {{ section.settings.description_text_size }} {{ section.settings.section_description_weight }} mty">
              {{- section.settings.section_description -}}
            </div>
          {%- endif -%}
          {%- unless section.settings.view_type == 'slideshow' or section.settings.view_type == 'grid' -%}
            {%- if section.settings.view_more_label != blank -%}
              <footer class="{{ section_prefix_class }}_foot">
                <a
                  {% if section.settings.view_more_link != blank -%}href="{{ section.settings.view_more_link }}" {% if section.settings.open_new_window %}target="_blank"{% endif %}{% else %}aria-disabled="true"{% endif %}
                  class="button button--primary link-icn --fw-semi-bold {{ section_prefix_class }}_link-icn"
                >
                  <i class="link-icn_icn">
                    {%- render 'icons-data', width: 23, height: 16, use_icon: true, icon_reference: 'arrow-diago-right' -%}
                  </i>
                  {{- section.settings.view_more_label -}}
                </a>
              </footer>
            {%- endif -%}
          {%- endunless -%}
        </div>
      </div>
      {%- case section.settings.view_type -%}
        {%- when 'slideshow' -%}
        <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-slideshow ">
          <splide-slider 
            data-slider-type="default"
            {% if request.design_mode %}
              data-go-to="true"
            {% endif %}
          >
            <div class="splide"
              data-splide='{
                "drag": true,
                "autoplay": {{- section.settings.auto_play -}},
                "rewind": true,
                "pauseOnHover": true,
                "gap": "25px",
                "perMove": 1,
                "perPage": 1,
                {% if section.blocks.size > 1 %}
                  "arrows": {{- section.settings.show_navigation -}},
                  "pagination": {{- section.settings.show_pagination -}},
                {% else %}
                  "arrows": false,
                  "pagination": false,
                {% endif %}
                "mediaQuery": "min",
                  "breakpoints": {
                    "414": {
                      "perPage": 1
                    },
                    "768": {
                      "perPage": 2
                    },
                    "992": {
                      "perPage": 3
                    },
                    "1200": {
                      "perPage": 4
                    }
                  },
                "interval": {{- section.settings.change_slides_every | times: 1000 -}},
                {% if request.design_mode == false %}
                  "type": "loop"
                {% else %}
                  "type": "slide"
                {% endif %}
              }'>
              <div class="splide__track">
                <div class="splide__list splide-slider--h-scroll" style="--init-divider: {{ section.settings.number_of_columns_on_desktop }}; --init-mob-divider: {{ section.settings.number_of_columns_on_mobile }};">
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                    {%- when 'collection_block' -%}
                      <div class="splide__slide" {{ block.shopify_attributes }}>
                        <div class="collection-block">
                          <div class="collection-header">
                            {%- render 'collection-card', card: block.settings.collection, block: block, prefix_class: section_prefix_class, heading_size: section.settings.card_heading_size, heading_weight: section.settings.card_heading_weight, media_size: section.settings.card_media_size, size_attr: image_sizes, widths_attr: '117, 157, 164, 201, 257, 260, 370, 390', custom_image: block.settings.custom_image, show_title: collection.title, content_position: section.settings.card_content_position, show_title: section.settings.show_title, loading_attr: loading_attr -%}
                          </div>
                        </div>
                      </div>
                    {%- endcase -%}
                  {%- endfor -%}
                </div>
              </div>
              {%- if section.blocks.size > 1 -%}
                {%- if section.settings.show_navigation or section.settings.show_pagination -%}
                  <div class="splide-controls splide__arrows --justify-center">
                    {%- if section.settings.show_navigation -%}
                      <button class="splide__arrow splide__arrow--prev button button--primary button--icn">
                        <span class="visually-hidden">{{ 'accessibility.slider.previous' | t }}</span>
                        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-arrow' -%}
                      </button>
                    {%- endif -%}
                    <ul class="splide__pagination" role="tablist" aria-label="{{ 'accessibility.slider.pagination_label' | t }}"></ul>
                    {%- if section.settings.show_navigation -%}
                      <button class="splide__arrow splide__arrow--next button button--primary button--icn">
                        <span class="visually-hidden">{{ 'accessibility.slider.next' | t }}</span>
                        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-arrow' -%}
                      </button>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endif -%}
            </div>
          </splide-slider>
        </div>
        {%- if section.settings.view_more_label != blank -%}
          <footer class="{{ section_prefix_class }}_foot footer-bottom__btn">
            <a {% if section.settings.view_more_link != blank -%}href="{{ section.settings.view_more_link }}" {% if section.settings.open_new_window %}target="_blank"{% endif %}{% else %}aria-disabled="true"{% endif %}
              class="button button--primary link-icn --fw-semi-bold {{ section_prefix_class }}_link-icn">
              <i class="link-icn_icn">
                {%- render 'icons-data', width: 23, height: 16, use_icon: true, icon_reference: 'arrow-diago-right' -%}
              </i>
              {{- section.settings.view_more_label -}}
            </a>
          </footer>
        {%- endif -%}
        {%- when 'grid' -%}
        {%- unless collection.products.size == 0 -%}
          <div class="grid__view grid grid-gutters">
            {%- for block in section.blocks -%}
              <div class="grid_col" {{ block.shopify_attributes }}>
                {%- render 'collection-card', card: block.settings.collection, block: block, prefix_class: section_prefix_class, heading_size: section.settings.card_heading_size, heading_weight: section.settings.card_heading_weight, media_size: section.settings.card_media_size, size_attr: image_sizes, widths_attr: '117, 157, 164, 201, 257, 260, 370, 390', custom_image: block.settings.custom_image, show_title: collection.title, content_position: section.settings.card_content_position, show_title: section.settings.show_title, loading_attr: loading_attr -%}
              </div>
            {%- endfor -%}
          </div>
          {%- if section.settings.view_more_label != blank -%}
            <footer class="{{ section_prefix_class }}_foot footer-bottom__btn">
              <a {% if section.settings.view_more_link != blank -%}href="{{ section.settings.view_more_link }}" {% if section.settings.open_new_window %}target="_blank"{% endif %}{% else %}aria-disabled="true"{% endif %}
                class="button button--primary link-icn --fw-semi-bold {{ section_prefix_class }}_link-icn">
                <i class="link-icn_icn">
                  {%- render 'icons-data', width: 23, height: 16, use_icon: true, icon_reference: 'arrow-diago-right' -%}
                </i>
                {{- section.settings.view_more_label -}}
              </a>
            </footer>
          {%- endif -%}
        {%- endunless -%}
      {%- endcase -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection_list.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "view_type",
      "label": "t:sections.collection_list.settings.view_type.label",
      "options": [
          {
          "value": "scroll",
          "label": "t:sections.collection_list.settings.view_type.options.scroll.label"
          },
          {
          "value": "grid",
          "label": "t:sections.collection_list.settings.view_type.options.grid.label"
          },
          {
          "value": "slideshow",
          "label": "t:sections.collection_list.settings.view_type.options.slideshow.label"
          }
      ],
      "default": "scroll"
    },
    {
        "type": "checkbox",
        "id": "show_title",
        "label": "t:sections.collection_list.settings.show_title.label",
        "default": true
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label",
      "default": "t:caption.label"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "h5",
          "label": "t:sizes.heading.options.opt_5.label"
        },
        {
          "value": "h6",
          "label": "t:sizes.heading.options.opt_6.label"
        }
      ],
      "default": "h6"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label",
      "default": "t:sections.collection_list.name"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "t:sections.collection_list.settings.description_text.label"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--large"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-light"
    },
    {
      "type": "text",
      "id": "view_more_label",
      "label": "t:settings_schema.buttons.settings.button.label",
      "default": "t:settings_schema.buttons.settings.button.label"
    },
    {
      "type": "url",
      "id": "view_more_link",
      "label": "t:settings_schema.buttons.settings.button.link.label"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "label": "t:target_blank.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:main_collections.settings.card.content"
    },
    {
      "type": "select",
      "id": "card_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h5",
          "label": "t:sizes.heading.options.opt_5.label"
        },
        {
          "value": "h6",
          "label": "t:sizes.heading.options.opt_6.label"
        }
      ],
      "default": "h5"
    },
    {
      "type": "select",
      "id": "card_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-semi-bold"
    },
    {
      "type": "select",
      "id": "card_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "square"
    },
    {
      "type": "select",
      "id": "card_content_position",
      "label": "t:alignments.content.label",
      "options": [
        {
          "value": "tcenter",
          "label": "t:positions.options.top"
        },
        {
          "value": "mcenter",
          "label": "t:positions.options.middle"
        },
        {
          "value": "bcenter",
          "label": "t:positions.options.bottom"
        }
      ],
      "default": "bcenter"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "t:sections.full_width.label",
      "default": false
    },
    {
      "type": "select",
      "id": "section_media_order",
      "label": "t:media.options.positions.label",
      "info": "t:sections.collection_list.settings.section_media_order.info",
      "options": [
        {
          "value": "row",
          "label": "t:media.options.positions.options.first.label"
        },
        {
          "value": "row_reverse",
          "label": "t:media.options.positions.options.second.label"
        }
      ],
      "default": "row"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:grid.desktop.columns.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:slideshow.show_arrows.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:slideshow.show_nav.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 5,
      "unit": "s",
      "info": "t:slideshow.interval.info"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "t:sections.collection_list.blocks.collection_block.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection_list.blocks.collection_block.name",
          "info": "t:sections.collection_list.blocks.collection_block.settings.collection.info"
          },
          {
          "type": "image_picker",
          "id": "custom_image",
          "label": "t:sections.collection_list.blocks.collection_block.settings.custom_image.label",
          "info": "t:sections.collection_list.blocks.collection_block.settings.custom_image.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.name",
      "blocks": [
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}