{%- liquid
  assign section_prefix_class = 'contact-form'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture max_header_size
    echo settings.page_width | times: section.settings.max_header_size | divided_by: 100
  endcapture
-%}
{%- style -%}
  .locator-row_heading-head,
  .locator-row_store-content{
    border: 0.4px solid var(--section-border-color);
  }

  .locator-row_store-content{
    border-top: none;
  }

  .locator-row_heading-head{
    border: 0.4px solid var(--section-border-color);
    padding: 20px 25px;
  }

  .locator-row_store-content{
    padding: 31px 27px 26px 27px;
  }

  .locator-row_address{
    --mt-top: 15px;
  }

  .locator-row_store-address-section,
  .locator-row_store-hours-section,
  .locator-row_store-email-section{
    margin-bottom: 13px;
  }


  .locator-row_store-time p,
  .locator-row_store-address-description p,
  .locator-row_store-email-address p,
  .locator-row_store-opening-time p{
    margin: 0;
  }

  .locator-row_description{
    margin-top: 20px;
  }

  .form__message, 
  .error-email {
    display: flex;
  }

  .form-group{
    position: relative;
  }

  .form__message,
  .error-email {
    align-items: center;
    gap: 10px;
  }

  .form__message {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .newsletter-form_results-wrap,
  .form__message svg,
  .errors-list_link {
    color: var(--section-error-color);
  }

  .success-message .image,
  .errors-list {
    margin-bottom: 10px;
  }

  .errors-list_link {
    text-decoration: none;
  }

  .error-email,
  .contact__field-error {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .success-message {
    text-align: center;
    margin-top: 39px;
    font-size: 2rem;
    line-height: 3.3rem;
    color: var(--section-success-color);
  }

  .success-message p {
    margin: 0;
  }

  .success-message_icn {
    display: block;
    margin-bottom: 14px;
  }

  .form-group textarea,
  .error-email{
    margin-top: 10px;
  }

  .form-wrapper_btn-wrap{
    margin-top: 19px;
  }

  .form-wrapper_button {
    width: 100%;
    --button-padding-y: 1.1rem;
    --button-padding-x: 1.6rem;
    --button-font-size: 1.4rem;
    --button-line-height: 2rem;
    --button-font-family: var(--body-font-family);
  }

  .contact-form{
    --q-align-value: var(--mobile-q-align);
  }

  .contact-form .container-fluid{
    --cp-spacer-left: 0;
    --cp-spacer-right: 0;
  }

  .locator-row--iframe {
    position: relative;
  }

  .contact-form .form-group textarea {
    resize: none;
    --input-height: 208px;
  }

  .contact-form .form-group input{
    --input-height: 4.6rem;
  }

  .contact-form_wrapper,
  .contact-form .two-form-group {
    display: flex;
  }

  .contact-form .two-form-group{
    gap: 18px;
    flex-wrap: wrap;
  }

  .contact-form_form-wrapper .form-group--email,
  .contact-form_form-wrapper .form-group--name{
    margin-bottom: 17px;
    width: 100%;
  }

  .contact-form_wrapper {
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 20px;
  }

  .contact-form_col-form,
  .locator-row--iframe iframe,
  .locator-row--iframe svg{
    width: 100%;
  }

  .contact-form_col-info {
    flex-grow: 1;
    flex-basis: 0;
  }

  .contact-form .form-wrapper_heading {
    --mt-bottom: 10px;
  }

  .contact-form_col-form .heading-head{
    margin-bottom: 25px;
  }

  .form-wrapper_main-heading{
    --mt-bottom: 28px;
  }

  .locator-row--iframe{
    line-height: 0;
    height: 100%;
  }

  .locator-row--iframe iframe,
  .locator-row--iframe svg{
    margin: 0;
    height: 300px;
  }

  .locator-row_col--iframe{
    margin-top: 37px;
  }

  @media (min-width: 768px) {
    .contact-form{
      --q-align-value: var(--desktop-q-align);
    }

    .contact-form_form-wrapper .form-group--email,
    .contact-form_form-wrapper .form-group--name{
      width: calc(50% - 9px);
    }

    .contact-form{
      overflow: visible;
    }

    .contact-form_wrapper {
      gap: 20px;
      margin-top: 50px;
    }

    .contact-form_col-form {
      width: 53%;
    }

    .contact-form--form-center .contact-form_col-form {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 703px;
    }

    .locator-row--iframe iframe,
    .locator-row--iframe svg{
      height: 400px;
    }
  }

  @media (min-width:1200px) {
    .contact-form_wrapper {
      gap: 54px;
      margin-top: 72px;
    }

    .locator-row--iframe iframe,
    .locator-row--iframe svg{
      height: 686px;
    }
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }};">
  <div class="container">
    <div class="{{ section_prefix_class }}_header-wrapper">
      {%- if section.settings.section_main_heading != blank or section.settings.section_main_description != blank -%}
        <header class="heading-head inner-container --word-break --q-align" style="--max-content: {{ max_header_size }}px;">
          {%- if section.settings.section_caption != blank -%}
            <div class="{{ section_prefix_class }}_caption --word-break {{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} mty">
              {{- section.settings.section_caption -}}
            </div>
          {%- endif -%}
          {%- if section.settings.section_main_heading != blank -%}
            <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section.settings.section_main_heading_size }} {{ section.settings.section_main_heading_weight }} mty">
              {{- section.settings.section_main_heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.section_main_description != blank -%}
            <div class="{{ section_prefix_class }}_description --word-break {{ section.settings.main_description_text_size }} {{ section.settings.section_main_description_weight }} mty">
              {{- section.settings.section_main_description -}}
            </div>
          {%- endif -%}
        </header>
      {%- endif -%}
    </div>
  </div>
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_iframe-wrapper locator-row_col locator-row_col--iframe">
      <div class="locator-row--iframe">
        {%- if section.settings.map_iframe != blank -%}
          {{- section.settings.map_iframe -}}
          {%- else -%}
            {{- 'hero-apparel-2' | placeholder_svg_tag: '' -}}
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper {% if section.blocks.size > 0 %}simple{% else %}--justify-center{% endif %}">
      {%- if section.blocks.size > 0 -%}
        <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-info">
          <div class="{{ section_prefix_class }}_col-info--first">
            {%- liquid
              for block in section.blocks
                render 'locator-row', row: block, index: forloop.index
              endfor
            -%}
          </div>
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-form">
        {%- if section.settings.form_heading != blank or section.settings.form_description != blank -%}
          <header class="heading-head --align-{{ section.settings.form_text_alignment }}">
            {%- if section.settings.form_heading != blank -%}
              <h2 class="form-wrapper_heading {{ section_prefix_class }}_heading {{ section.settings.form_heading_weight }} {{ section.settings.form_heading_size }} --word-break --h-anchor-none mty">
                {{ section.settings.form_heading }}
              </h2>
            {%- endif -%}
            {%- if section.settings.form_description != blank -%}
              <div class="form-wrapper_description {{ section_prefix_class }}_description {{ section.settings.form_text_size }} {{ section.settings.form_description_weight }} --word-break mty">
                <p>{{- section.settings.form_description -}}</p>
              </div>
            {%- endif -%}
          </header>
        {%- endif -%}
        <div class="form-wrapper {{ section_prefix_class }}_form-wrapper">
          {%- assign form_id = 'ContactForm' | append: section.id -%}
            {%- form 'contact', id: form_id, class: 'isolate' -%}
              {%- if form.errors != blank -%}
                <strong class="form__message --fw-normal mty" role="alert" tabindex="-1" autofocus>
                  {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                  {{- 'erorr.common_heading' | t -}}
                </strong>
                <ul class="errors-list list-unstyled">
                  <li class="errors-list_item">
                    <smooth-anchor data-offset=".sticky-header-wrapper">
                      <a class="errors-list_link text-size--small" href="#ContactForm-email-{{ form_id }}">
                        *{{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </a>
                    </smooth-anchor>
                  </li>
                </ul>
              {%- endif -%}
              <div class="two-form-group">
                <div class="form-group form-group--name">
                  <label class="text-size--small --fw-medium visually-hidden" for="contact-name">{{- 'contact_form.form_label.name.label' | t -}}</label>
                  <input type="text" id="contact-name" name="contact[Name]" placeholder="{{- 'contact_form.form_placeholder.name.label' | t -}}">
                </div>
                <div class="form-group form-group--email">
                  <label class="text-size--small --fw-medium visually-hidden" for="ContactForm-email-{{ form_id }}">{{- 'contact_form.form_label.email.label' | t -}}</label>
                  <input type="email" id="ContactForm-email-{{ form_id }}" name="contact[email]" placeholder="{{- 'contact_form.form_placeholder.email.label' | t -}}"
                  onkeydown="validation()">
                  <div class="newsletter-form_results-wrap results-wrap_message text-size--small">
                    {%- if form.errors contains 'email' -%}
                      <div class="error-email">
                        {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                        <small class="contact__field-error" id="ContactForm-email-{{ form_id }}-error">
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-size--small --fw-medium visually-hidden" for="contact-textarea">{{- 'contact_form.form_label.your_request.label' | t -}}</label>
                <textarea name="contact[textarea]" id="contact-textarea" placeholder="{{- 'contact_form.form_placeholder.your_request.label' | t -}}"></textarea>
              </div>
              <div class="form-wrapper_btn-wrap">
                <button class="button button--primary form-wrapper_button" type="submit">
                  {{- 'contact_form.submit_label' | t -}}
                </button>
              </div>
              {%- if form.posted_successfully? -%}
                <div class="success-message" role="alert" tabindex="-1" autofocus>
                  <i class="success-message_icn">
                    {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
                  </i>
                  <p>{{- 'contact_form.success.heading1' | t -}}</p>
                  <p>{{- 'contact_form.success.heading2' | t -}}</p>
                </div>
              {%- endif -%}
            {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.contact_form.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.head.content"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label",
      "default": "Art Advisory Service"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        }
      ],
      "default": "text-size--small"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_main_heading",
      "label": "t:heading.label",
      "default": "Contact Us"
    },
    {
      "type": "select",
      "id": "section_main_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "section_main_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "richtext",
      "id": "section_main_description",
      "label": "t:description_text.label",
      "default": "<p>Experience the power of art to evoke emotions and transform spaces with our featured collection of handmade paintings. These artworks are more than just decorations</p>"
    },
    {
      "type": "select",
      "id": "main_description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        }
      ],
      "default": "text-size--small"
    },
    {
      "type": "select",
      "id": "section_main_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-light"
    },
    {
      "type": "range",
      "id": "max_header_size",
      "label": "t:sections.head.size.label",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 60,
      "unit": "%"
    },
    {
      "type": "textarea",
      "id": "map_iframe",
      "label": "t:sections.contact_form.settings.map.label",
      "info": "t:sections.contact_form.settings.map.info"
    },
    {
      "type": "header",
      "content": "t:sections.contact_form.settings.form_settings.title"
    },
    {
      "type": "inline_richtext",
      "id": "form_heading",
      "label": "t:sections.contact_form.settings.form_heading.label",
      "default": "Get in Touch with Us"
    },
    {
      "type": "select",
      "id": "form_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "form_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
      ],
      "default": "--fw-bold"
    },
    {
      "type": "inline_richtext",
      "id": "form_description",
      "label": "t:sections.contact_form.settings.form_description.label",
      "default": "If you’ve got great products your making or looking to work with us then drop us a line."
    },
    {
      "type": "select",
      "id": "form_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        }
      ],
      "default": "text-size--small"
    },
    {
      "type": "select",
      "id": "form_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-light"
    },
    {
      "type": "text_alignment",
      "id": "form_text_alignment",
      "label": "t:alignments.text.label",
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 65,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 65,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.contact_form.blocks.location.name",
      "type": "location",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:heading.label",
          "default": "Store locations"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sizes.heading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:sizes.heading.options.opt_2.label"
            },
            {
              "value": "h3",
              "label": "t:sizes.heading.options.opt_3.label"
            },
            {
              "value": "h4",
              "label": "t:sizes.heading.options.opt_4.label"
            },
            {
              "value": "h5",
              "label": "t:sizes.heading.options.opt_5.label"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "heading_weight",
          "label": "t:weight.heading.label",
          "options": [
            {
              "value": "--fw-bold",
              "label": "t:weight.heading.options.opt_1.label"
            },
            {
              "value": "--fw-semi-bold",
              "label": "t:weight.heading.options.opt_5.label"
            },
            {
              "value": "--fw-medium",
              "label": "t:weight.heading.options.opt_2.label"
            },
            {
              "value": "--fw-normal",
              "label": "t:weight.heading.options.opt_3.label"
            }
          ],
          "default": "--fw-bold"
        },
        {
          "type": "richtext",
          "id": "address_description",
          "label": "t:sections.contact_form.blocks.location.address_description.label",
          "default": "<p>93 Rue du Chevalier de la Barre, 961821 Paris, France</p>"
        },
        {
          "type": "richtext",
          "id": "phone_hour_description",
          "label": "t:sections.contact_form.blocks.location.phone_hours.name",
          "default": "<p>(+100) 0908 -1234</p>"
        },
        {
          "type": "richtext",
          "id": "email_description",
          "label": "t:sections.contact_form.blocks.location.email_address.title",
          "default": "<p>handybrush@example.com</p>"
        },
        {
          "type": "richtext",
          "id": "opening_time",
          "label": "t:sections.contact_form.blocks.location.opening_time.name",
          "default": "<p>Our store has re-opened for shopping, exchange Every day 11am to 7pm</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact_form.name",
      "blocks": [
        {
          "type": "location",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}